In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

> HollysCoffee
url = https://www.hollys.co.kr/store/korea/korStore.do?pageNo=1&sido=&gugun=&store=

In [19]:
# url get
hollys_list = []
a_lists = list(range(1, 58, 1))
for a in a_lists:
    url = 'https://www.hollys.co.kr/store/korea/korStore.do?pageNo=' + str(a) + '&sido=&gugun=&store='
    response = requests.get(url)

    # 응답의 content를 파싱
    html = requests.get(url).text
    soup = BeautifulSoup(html, 'html.parser')

    table = soup.find('div', {'class': 'tableType01'})
    tbody = table.find('tbody')

    for tr in tbody.find_all('tr'):
        tds = tr.find_all('td')
        if tds:
            hollys_list.append({
                '지역': tds[0].text,
                '매장명': tds[1].text,
                '주소': tds[3].text,
                '전화번호': tds[5].text
            })

In [20]:
data = pd.DataFrame(data = hollys_list)
data

,지역,매장명,주소,전화번호
0,경기 부천시 소사구,부천심곡점,경기도 부천시 장말로 376 심곡동 355-1,032-612-7258
1,경기 성남시 분당구,성남터미널점,"경기도 성남시 분당구 성남대로925번길 16, 성남종합버스터미널 1층",031-725-1004
2,부산 사상구,부산백양대로점,괘법동 141,051-311-5399
3,서울 성동구,왕십리역점,"성동구 왕십리광장로 17 (행당동 168-151 ), 비트플렉스몰 3층",02-2200-1303
4,서울 마포구,홍대출판사거리점,"서울시 마포구 독막로7길 40, 1층",02-332-3567
...,...,...,...,...
562,서울 마포구,마포역점,서울시 마포구 도화동 555 한화오벨리스크B1 137~9,02-713-8788
563,서울 금천구,금천점,"서울시 금천구 시흥대로 399, 씨티렉스604호",02-805-9908
564,서울 영등포구,영등포점,서울시 영등포구 경인로 847,070-4159-8897
565,서울 서대문구,신촌점,서울시 서대문구 연세로 34,02-393-2004
566,경기 성남시 수정구,성남점,"경기도 성남시 수정구 수정로 175, 동일빌딩1층",031-721-6369